body {
  background-image: url('../images/alto.webp');
  background-size: cover;
   }

  .nav-link:hover {
    color: rgb(125,193,213);
  }

  .nav-link {
    margin-left: 50px;
  }
       
  #home{
    margin-left: 50px;
  }

  .container{
    background-color: transparent;
    margin-top: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: goldenrod
  }
